* {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #151515;
  }

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  .btn-reset {
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  input,
  textarea {
    outline: none;
  }

  .student {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
  }

  .student__title {
    color: #b698cb;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 40px;
  }

  .student__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;
  }

  .student__form-label {
    position: relative;
  }

  .student__form-text {
    display: block;
    margin-bottom: 10px;
    color: #ae8dbd;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .student__form-input {
    border-radius: 6px;
    border: none;
    color: #ccbddd;
    min-width: 180px;
    padding: 7px 12px;
    background-color: #5d4b87;
  }

  .student__form-input::placeholder {
    color: #ccbddd;
  }

  .student__form-btn {
    outline: 2px solid purple;
    outline-offset: 0;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    align-self: flex-end;
    background-color: #8f38ba;
    transition: background-color 0.2s ease-out, outline-offset 0.2s ease-out, outline 0.2s ease-out, transform 0.2s ease-out;
  }

  .student__form-btn:focus-visible {
    outline: 2px solid rgb(195, 137, 195);
    outline-offset: 2px;
    transform: scale(1.1);
    background-color: #451a5a;
  }

  .student__form-btn:hover {
    outline: 2px solid rgb(195, 137, 195);
    outline-offset: 2px;
    transform: scale(1.1);
    background-color: #c970f5;
  }

  .student__form-btn:active {
    outline: 2px solid rgb(195, 137, 195);
    outline-offset: 0;
    transform: scale(0.8);
    background-color: #451a5a;
  }

  .student__table {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #4d1168;
  }

  .student__table-thead {
    color: #fff;
  }

  .student__table-tbody {
    color: #fff;
    background-color: #7f4799;
  }

  .student__table-tr {
    cursor: pointer;
  }

  .student__table-td {
    outline: 2px solid #a66fb5;
    text-align: center;
    padding: 10px;
    transition: background-color 0.2s ease-out;
  }

  .student__table-td:hover {
    background-color: #9547b9;
  }

  .student__table-td.sort {
    background-color: #2f0443;
  }

  .student__form-error-text {
    position: absolute;
    bottom: -20px;
    left: 4px;
    width: 100%;
    color: #d87b7b;
    font-size: 10px;
  }

  .student__sort {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    gap: 20px;
    margin-bottom: 40px;
  }

  .student__sort-title {
    color: #b698cb;
    letter-spacing: 3px;
    text-align: center;
  }

  .student__sort-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .student__sort-inputs input {
    max-width: 200px;
  }
